{% extends 'base.html' %}

{% block content %}
<h1>Банковские реквизиты</h1>
{% if not email %}
Для просмотра реквизитов необходимо выполнить <a href="{{ url_for('login') }}">Вход</a> или <a href="{{ url_for('registration') }}">Регистрацию</a>
{% else %}

{% for detail in bank_details %}
<p><b>{{ detail.bank_name }}</b> {% if detail.is_active %}<i>(Активен)</i>{% endif %}</p>
<p>БИК: {{ detail.bik }}</p>
<p>Р/С: {{ detail.checking_account }}</p>
<p>К/С: {{ detail.correspondent_account }}</p>
<form action="{{ url_for('delete_bank_details') }}" method="post">
    {{ detail.delete_form.hidden_tag() }}
    {{ detail.delete_form.submit() }}
</form>
<form action="{{ url_for('set_active_bank_details') }}" method="post" >
    {{ detail.set_active_form.hidden_tag() }}
    {{ detail.set_active_form.submit() }}
</form>
<a href="{{ url_for('update_bank_details', details_id=detail.id) }}">Отредактировать</a>
<hr>
{% endfor %}

<button><a href="{{ url_for('add_bank_details') }}">Добавить реквизит</a></button>
{% endif %}
{% endblock %}