{% extends 'base.html' %}

{% block content %}
<h1>Страница регистрации</h1>
<form action="{{ url_for('registration') }}" method="post">
    {{ form.hidden_tag() }}

    <div>
        {{ form.email.label() }}
        {{ form.email() }}
        {% for e in form.email.errors %} <span style="color: red">{{ e }}</span> {% endfor %}
    </div>

    <div>
        {{ form.password.label() }}
        {{ form.password() }}
        {% for e in form.password.errors %} <span style="color: red">{{ e }}</span> {% endfor %}
    </div>

    <div>
        {{ form.password_repeat.label() }}
        {{ form.password_repeat() }}
        {% for e in form.password_repeat.errors %} <span style="color: red">{{ e }}</span> {% endfor %}
    </div>


    {{ form.submit() }}
</form>

{% endblock %}